**1.A Python program to find sum of two no and return result from function.**

---

In [ ]:
num1=int(input("Enter first nubmer"))
num2=int(input("Enter second number"))
def sum(n1,n2):
  sum1=num1+num2
  print("Sum of two numbers:",sum1)


sum(num1,num2)

Enter first nubmer2
Enter second number3
Sum of two numbers: 5

**2.A python program to find prime no upto n using functions.**

---

In [ ]:
def prime_no(num):
    if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num,end=" ")
    
limit  = int(input("enter starting limit: "))

for i in range(limit):
   prime_no(i)

enter starting limit: 10
2 3 5 7

**3.A python program to understand how function return two values.**

---

In [ ]:
def first():
  return 'x'

def second():
  return 'y','z'

**4.A function that returns addition,substraction,multiplaction and division.**

---

In [ ]:
n1=int(input("ENter first number:"))
n2=int(input("ENter second number:"))

def add(num1,num2):
  add1=num1+num2
  print("Addition of two numbers:",add1)

def sub(num1,num2):
  sub1=num1-num2
  print("Substraction of two numbers:",sub1)


def mul(num1,num2):
  mul1=num1*num2
  print("Multiplaction of two numbers:",mul1)


def div(num1,num2):
  div1=num1/num2
  print("Division of two numbers:",div1)

add(n1,n2)
sub(n1,n2)
mul(n1,n2)
div(n1,n2)

ENter first number:3
ENter second number:2
Addition of two numbers: 5
Substraction of two numbers: 1
Multiplaction of two numbers: 6
Division of two numbers: 1.5

**5.A pyton program to know how to define a function inside another function.**

---

In [ ]:

def function1():
    a=10
    b=20
    add=a+b
    print("Additon:",add)
    
    def function2():
        function1()

function2()

Additon: 30

**6.A python program to know how to pass a function as parameter.**

---

In [ ]:

def first(text):
	return text.upper()
	
print(first('Hello'))

HELLO

**7.A python program to know how a function return another function.**

---

In [ ]:

def B():
	print("Inside the method B.")
	
def A():
	print("Inside the method A.")
	return B

funtion=A()

funtion()

Inside the method A.
Inside the method B.

**8.Positional Arguments.**

---

In [ ]:
def attach(s1,s2):
  s3=s1+s2
  print("Total str:"+s3)
attach('new','york')

Total str:newyork

**9.Keyword Arguments.**

---

In [ ]:
def add(farg,*args):
  print('Format args:',farg)
  sum=0
  for i in args:
    sum=sum+i
    print("Sum of all No:",(farg+sum))
add(5,10)
add(5,10,20,30)

Format args: 5
Sum of all No: 15
Format args: 5
Sum of all No: 15
Sum of all No: 35
Sum of all No: 65

In [ ]:
def grocery(item,price):
  print(('item=%s'%item))
  print(('price=%2f'%price))
grocery(item='suger',price=50.75)
grocery(price=88.00,item='oil')

item=suger
price=50.750000
item=oil
price=88.000000